@media (min-width:992px) {
    #mainNav.navbar-shrink {
        background: #9faf23;
        opacity: 0.7;
    }
}

nav a {
    color: #fff !important;
    /* font-weight: 500; */
}

#home {
    background-image: url(../img/hengyao-tang-fmtI2yxWCEI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#about {
    height: 100vh;
}